<app-navbar></app-navbar>
<h1>Welcome {{ authService.currentUserName }}</h1>
<h2>Manage your budget with ease!</h2>
<h2>Simply click on Dashboard and begin adding items to your budget.</h2>
<h3>
  The budget table will display your budget items and allow you to manage your
  budgets.
</h3>
<h3>The expense table allows you to track and manage any of your expenses.</h3>
<h3>
  Simply add the merchant you spent money with and add one of your budget
  categories.
</h3>
<h3>
  Finally enter the amount you spent and the table will update with your new
  expense.
</h3>

<h3>
  Below the tables you will find a chart that displays your budget compared to
  your expenses.
</h3>

<h3>This is a great way to see how much of your budget is left!</h3>
