<app-non-user-nav></app-non-user-nav>

<div class="header">
  <h2>A personal budget building application!</h2>
</div>
<div class="body">
  <h3>Take control of your personal finances now!</h3>
  <h4>What?</h4>
  <p>
    EzBudget is a personal finance application designed to help individuals
    manage their money! It allows users to create, track, and manage their own
    personal budgets while providing them with visual representations of their
    spending!
  </p>
  <h4>Why?</h4>
  <p>
    Personal finance is a huge undertaking and many don't even know where to
    begin. EzBudget was created to help people get a grip on their personal
    budget and help them improve their understanding of personal finance. There
    is a lack of personal finance web applications in the world that are simple
    and easy to use, so this aims to solve that problem.
  </p>
  <h4>How?</h4>
  <p>
    EzBudget uses Node.js and Angular along with Google's Firebase suite to aid
    users. Through rigorous testing and debugging this application was designed
    to be simple and fast to use. This application uses Angular as the framework
    to implement it as a single page application. Google Firestore is the
    primary method of data storage and retrieval. Google's Authentication
    services are also used to manage users of this application.
  </p>
</div>
<div class="about">
  <h3>About the designer</h3>
  <p>
    Austin Moody is the designer, programmer, and maintainer of this
    application. He is a senior studying at the University of North Carolina at
    Charlotte, concentrating in cybersecurity. His goal with this application is
    to design a thorough and effective personal budget that anyone can use to
    help improve their financial understanding.
  </p>
</div>
