.header {
  text-align: center;
  padding: 40px 20px 10px 20px;
}

.body {
  text-align: center;
}

.body h3 {
  padding: 20px 10px;
}

.body h4 {
  padding: 20px 0px 20px 0px;
}

.body p {
  padding-left: 200px;
  padding-right: 200px;
}

.about {
  text-align: center;
  padding-top: 25px;
}

.about p {
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
}
